.tc{
  text-align: center!important;
}


.report-title{
  text-align: center;
  border:2px solid #000;
  font-size: 15px;
  margin:0px;
  padding: 5px 0px;
  text-transform: uppercase;
  color:#fff;
  line-height: 1;
}


.report-header,.report-body{
  margin-top: 10px;
  width: 100%;
}

.report-header tr td,
.report-body .table-report tr td,
.report-body .table-report tr th,
.report-footer .detail th,
.report-footer .detail td{
  border:2px solid #000;
}

.report-header tr td:first-child{
  color:#fff;
  width: 30%;
}

.report-body .table-report{
  width:  60%;
}
.report-body .graph-report{
  width:  40%;
}

.report-body .table-report thead th{
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
  color:#fff;
  padding: 0px 10px;
  text-align: center;
}

.report-body .totals{
  font-weight: bold;
}

.report-footer{
  width:90%;
  margin-top: 10px;
}

.report-footer  p{
  font-size: 11px;
}

.report-footer .detail{
  width:  40%;
  margin-top: 20px;
}

.report-footer .detail table{
  width:  100%;
}


.report-footer .detail th{
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
  color:#fff;
  padding: 0px 10px;
  text-align: center;
}

.report-footer .detail table td:first-child{
  font-weight: bold;
}

.report-footer .detail table td:nth-child(2){
  text-align: center;
}

.report-footer .observations{
  vertical-align: top;
  padding-left: 20px;
  width: 30%;
}

.report-footer .observations h6{
  margin-top:0px;
}

.report-footer .observations textarea{
  width: 100%;
}

.graph-report{
  text-align: center;
}

.report-0 .report-title,
.report-0 .report-header tr td:first-child,
.report-0 .report-body .table-report thead th,
.report-0 .report-footer .detail th{
  background: #5e84b1;
}

.report-1 .report-title,
.report-1 .report-header tr td:first-child,
.report-1 .report-body .table-report thead th,
.report-1 .report-footer .detail th{
  background: #fbd5b1;
  color:#000;
}




@media print{
  header,footer{
    display: none;
  }
}





